<!DOCTYPE html>
<html>
<head>
	<title>Social media</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	.padding-top{
		padding-top: 50px !important;
	}
	.footer{
		background-color: #e7e7e7 !important;
		min-height: 80px !important;
		color: gray !important;
	}
</style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'Home' %}">Home</a></li>
      <li><a href="{% url 'Logout' %}">Logout</a></li>
      <li><a href="{% url 'UpdateUserConfig' %}">Update User Config</a></li></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
{% block content %}

{% endblock %}
<footer class="footer">
	<div class="container text-center">
		<div class="row">
			<p class="col-lg-12">
				<br/>
				Master Big Data
			</p>
		</div>
	</div>
</footer>
</body>
</html>

<script type="text/javascript">
	$("#starttwittersearch").click(function () {
		$.ajax({
        url: '/StartSearch/',
        data: {},
        dataType: 'json',
        success: function (data) {
        }
      });
	})
	$("#stoptwittersearch").click(function () {
		$.ajax({
        url: '/StopSearch/',
        data: {},
        dataType: 'json',
        success: function (data) {
        }
      });
	})
</script>