{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Social media</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/app.css" %}">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default color-back">
  <div class="container-fluid color-back">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Social Media Analitics</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'Home' %}">Home</a></li>
      <li><a href="{% url 'UpdateUserConfig' %}">Update Twitter User Config</a></li></li>
      <li><a href="#">Update Instagram User Config</a></li></li>
      <li><a href="#">Update Youtube User Config</a></li></li>
      <li><a href="{% url 'Logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
{% block content %}

{% endblock %}
<!-- Footer -->
<div class="">
	<footer class="app-footer footer container text-center ">
		  <div>
		    <span>2018</span>
		  </div>
	</footer>
</div>
<!-- ./Footer -->
</body>
</html>
